body {
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    background: #e3f2fd;
    color: #000000c0;
    font-size: 13px;
}

.prettyplan ul {
    padding-left: 0;
}

.prettyplan li {

    list-style: none;
    /* background: linear-gradient(30deg, #b12f08, #581805); */
    background-color: #ffffff;
    padding: 10px;
    color: #000000c0;
    margin: 4px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.prettyplan ul.warnings li {
    /* border-radius: 6px; */
    border-left: 3px solid #757575;
}

.prettyplan ul.actions li.update {
    border-left: 3px solid #ff8f00;
}
.prettyplan ul.actions li.create {
    border-left: 3px solid #2e7d32;
}
.prettyplan ul.actions li.destroy {
    border-left: 3px solid #b71c1c;
}
.prettyplan ul.actions li.recreate {
    border-left: 3px solid #1565c0;
}

.badge {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 3px;
    font-size: 12px;
    font-weight: bold;
}
.warnings .badge {
    color: #757575;
}
li.update .badge {
    color: #ff8f00;
}
li.create .badge {
    color: #2e7d32;
}
li.destroy .badge {
    color: #b71c1c;
}
li.recreate .badge {
    color: #1565c0;
}

.id {
    font-weight: bold;
}

.summary {
    cursor: pointer;
}

.changes {
    margin: 5px auto 0 auto;
    padding: 5px;
}
.changes span {
    display: inline-block;
    width: 30%;
}
.changes table {
    width: 100%;
    word-break: break-all;
    font-size: 13px;
}
.changes table td {
    padding: 10px;
    width: 40%;
    /* max-width:40%;
    overflow-x: scroll; */
}
pre {
    /* width: 40%;
    overflow-x: scroll; */
    white-space: pre-wrap;
}
.changes table td.property {
    width: 20%;
    text-align: right;
    font-weight: bold;
}
.changes table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.collapsed {
    display: none;
}